.information-container {
  position: absolute;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  bottom: 0;
  right: 0;
  width: 95%;
  max-width: 820px;
  height: auto;
  padding: 10px;
  margin: 20px;
  background: rgba(255, 255, 255, 0.9);
  border-radius: 8px;
  pointer-events: none;
}

.information-container div {
  padding: 5px;
}

.information-container .node-property-name {
  color: #afafaf;
  font-weight: 500;
  font-size: 0.8rem;
}

.information-container .node-property-value {
  font-size: 0.95rem;
}
